// Colors
$background_blue_color: #5474fd;
$button_blue_color: #496bfe;
$button_hover_color: #1934af;


// Fonts
$base_font_family: "Josefin";
$headline_font_family: "Aleo";
$letter_spacing_base: 5px;
$letter_spacing_small: 3px;

// Sizes
$small: 700px;
$medium: 998px;
$container_width: 1110px;
